<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/home.css">
<meta charset="UTF-8" />
<title>SIW FURGONI</title>
</head>
<body>


    	<h1>PAGINA PRINCIPALE DI PROVA DELL'ADMIN</h1>
		<div>
			<p><a th:href="@{/admin/furgoneForm}">aggiungi nuovo furgone</a></p>
			<p><a th:href="@{/admin/aggiungiRotta}">aggiungi nuova rotta</a></p>
			<p><a th:href="@{/admin/rotte}">visualizza rotte</a></p>
			<p><a th:href="@{/default}">HOME</a></p>
			<p><a th:href="@{/logout}">Logout</a></p>
   		</div>
   		

</body>
</html>