
body {
	text-align:center;
	background-color: lightgreen;
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}

header > h1 {
    letter-spacing: 1.5vw;
    font-family: 'system-ui';
    text-transform: uppercase;
    text-align: center;
}


.container-general{
	display: flex;
	flex-direction: column;
	width: 60%;
	position: relative;
	left: 20%;
	height: 800px;
	border: 2px solid black;
	border-radius: 15px;
	box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
	padding: 40px;

	margin-top: 50px;
}

.titolo{
	position: relative;
	left: 0%;
	font-size: xx-large;
	letter-spacing: 0.4vw;
    text-shadow: 5px 5px 10px rgb(0,0,0,0.3);
	margin-bottom: 50px;
}

.dati{
	display: flex;
	margin-bottom: 20px;
}

.intestazione{
	width: 200px;
}

.intestazione-form{
	margin-bottom: 10px;
	width: 300px;
}

.rifornimento{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: 1040px;
	height: 230px;
	border: 2px solid black;
	border-radius: 15px;
	padding: 30px;
}

.titolo-rif{
	font-size: large;
	letter-spacing: 0.2vw;
}

.intestazione-2{
	margin-top: 20px;
	position: relative;
	left: -35%;
}

.valore-2{
	position: relative;
	left: -35%;
}

.btn-success{
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
}

.bottone-aggiungi{
	position: absolute;
	right: 30px;
	top: 730px;
	width: 200px;

}

.kmFinali{
	margin-left: -70%;
}

footer {
    height: 7vh;
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px -5px 10px rgb(0,0,0,0.3);
    position: fixed;
    bottom: 0;
}
footer > p {
    text-align: center;
    font-family: 'system-ui';
    letter-spacing: 3px;
}

.spazio{
	height: 200px;
}