<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/home.css">
<meta charset="UTF-8" />
<title>SIW FURGONI</title>
</head>
<body>


    	<h1>PAGINA PRINCIPALE DI PROVA DELLO USER</h1>
		<div>
			<p><a th:href="@{/rottaDaCompilareForm}">compila rotta odierna</a></p>
			<p><a th:href="@{/rotteConcluse}">visualizza rotte concluse</a></p>
			<p><a th:href="@{/default}">HOME</a></p>
			<p><a th:href="@{/logout}">Logout</a></p>
   		</div>
   		

</body>
</html>