<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/login.css">
<meta charset="UTF-8" />
<title>SIW CATERING</title>
</head>
<body>
	<header>
		<h1>SIW CATERING</h1>
	</header>
	<main>

		<div class="box_class">
			<div class="message_class">Nessuna rotta disponibile da compilare</div>
			<div class="info_div">
				<p>
					<a th:href="@{/default}">Home</a>
				</p>
			</div>
		</div>
	</main>
	<footer>
		<p>Realizzato da Lorenzo Celli, Francesco Martini e Gianluca Mairini</p>
	</footer>
</body>
</html>
