<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inserisci rotta</title>
</head>
<body>
	<h1>DATI DELLA ROTTA</h1>
	<div>
		Data: <span th:text="${rotta.data}">22/22/2022</span>
	</div>
	<div>
		Numero Rotta: <span th:text="${rotta.id}">1</span>
	</div>
	<div>
		Driver della rotta: <span
			th:text="${rotta.user.nome} + ' ' + ${rotta.user.cognome}">mario
			rossi</span>
	</div>
	<div>
		Targa del van: <span th:text="${rotta.furgone.targa}">ASDD123</span>
	</div>
	<div>
		Km iniziali della rotta: <span th:text="${rotta.kmIniziali}">22</span>
	</div>
	<form th:action="@{/rottaDaCompilareForm}" method="POST"
		th:object="${rotta}">
		<div>km finali della rotta:</div>
		<input th:field="*{kmFinali}"> <input type="hidden"
			th:field="*{id}" />

		<h1>RIFORNIMENTO DELLA ROTTA (LASCIARE BIANCO IN CASO DI NON
			RIFORNIMENTO)</h1>

		<div>data del rifornimento: </div>
		<input th:field="*{rifornimento.data}">
		
		<div>importo del rifornimento: </div>
		<input th:field="*{rifornimento.importo}">

		<div>
			<button type="submit">aggiungi</button>
		</div>
	</form>
</body>

</html>